<main ng-controller="homeController as homeView" >
    
    <div ng-init="init('@ViewBag.UserEmail')">

    <div ng-show="userInvalid">
        <h3>Please enter your details</h3>
        <ol>
            <li>
                <label>
                    Email
                </label>
                <input type="email" required ng-model="user.Email" />
            </li>
            <li>
                <label>
                    First Name
                </label>
                <input type="text" required ng-model="user.FirstName" />
            </li>
            <li>
                <label>
                    Last Name
                </label>
                <input type="text" required ng-model="user.LastName" />
            </li>
            <li>
                <input type="button" ng-disabled="submitDisabled()" ng-click="submitUserInfo()" value="Submit" />
            </li>
        </ol>
    </div>

    <div ng-show="!userInvalid">
        <h3>Do you like the implementation ?</h3>
        <ul class="vote">
            <li><label>Yes, Defanaitly!</label> <div class="progress"></div></li>
            <li class="vote-done bad"><label>May be, in the right context...</label> <div class="progress pro-55"></div></li>
            <li class="vote-done average"><label>No, Not really!</label> <div class="progress pro-78"></div></li>
        </ul>
    </div>
    </div>
</main>